<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document2</title>
</head>
<body>
    <center>
        This is our home page.<br />
        Welcome <h1> <%=data.email%> </h1>, to our home page.
        <h2>User role is <%=data.roles%></h2>
        
        
    </center>

</body>
</html>